
/* CSS */

body{
    margin:0;
}

.top-background{
    background-image:url('atrium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.menu{
    text-align: center;
    font-size:18px;
}

.menu-ul{
    padding: 10px;
}
.logo-img{
    float: left;
    position: absolute;
    top: 0;

 
}
.bg-div{
  
   
}