body{

    background-color:rgb(228, 194, 150);
    color: rgb(167, 34, 34);
    margin: 0 auto;
 
 }

.wrapper{
   max-width: 1100px;
   height: auto;
   width: 100%;
   margin: 0 auto;
   top:0;
 }

 .header{
     max-width: 1100px;
     background-color:yellow ;
   height: 100px;
   width: 100%;
   margin: 0 auto;
   border-bottom:3px solid black ;
   top:0;

 }
 .w3-animate-opacity {
  animation: opac 0.8s;
  background-image: url('atrium.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
  
}